
{% extends "base.html" %} 
{% block title %} {{ object.title }} {% endblock %}

{% block content %}

<main class='bg-primary_black min-h-screen w-full'>
    <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover" style="background-image: url('{{ object.image.url }}');">
        <div>
            <h2 class="text-6xl font-semibold text-white my-4">
                 {{ object.title }}
            </h2>
            <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                {{ object.description|slice:":50" }}
            </p>
            <div class="flex my-4">
                <a href="{{ object.episodes.first.video }}">
                    <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium">
                            Play
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section> 
    <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <h2 class="text-gray-200 text-3xl font-medium">
                Description
            </h2>
            <div class="items-center min-w-full  movie_lis">
                <p class="text-gray-100 text-lg">
                    {{ object.description }}
                </p>
                <p class="text-gray-100 text-lg">
                    Visualizações: {{ object.views }}
                </p>
            </div>

            <div style='margin-top:2rem;margin-bottom:2rem;'>
                <h2 class="text-gray-200 text-3xl font-medium">
                    All Clips

                </h2>
                    {% for clip in object.episodes.all %}
                    <h3 class='text-lg'>
                        <a href="{{ clip.video }}"><p>Clip: {{ clip.title }}</p></a>
                        </a>
                    </h3>
                    {% endfor %}

            </div>

        </div>
    </section>
</main>
{% endblock %}